# system related configs
system:
  # the user you will use for daily operations and is provided with access to docker (Pull|Start|Stop|delete etc..)
  user: "foo"
  # SSH Public key from your user that will be added to his authorized_keys file
  sshKey: "insert your ssh pub key here"
  # user Password you should specify at least 8 character for security reasons
  pw: "my-secret-pw"
  email: foo@example.com
  # mount point to your docker media|log|config Files. All Data will live here. the specified user above will be granted access to this folder read/write.
  baseDir: "/opt/data"
  mediaDir: "/opt/media"
  composeDir: "/opt/compose"
  # the directory where let's encrypt will be installed to
  letsencryptDir: "/opt/letsencrypt"
  # if you don't know what you are doing please use the default. The length for the dh keys the longer value you choose time increases exponentially
  dh_length: 2048

# specify packages if you need more than the default ones you have to give them the correct name for the OS you're using e.g. Deb: "apache" CentOS: "httpd"
packages:
#  - iftop

# specify the domain(s) your applications will use either sub domain or not
domain:
  # the domain which will appear in the SSL Cert first
  cert:     "foo.example.com"
  # the domain for the docker Container owncloud
  owncloud: "owncloud.example.com"

# settings for dockerized owncloud
owncloud:
  # the container will have this display name on docker ps
  contName:   "owncloud"
  # the image name that will be pulled
  imgName:    "owncloud"
   # the place where your data will live
  hostData:   "owncloud_data"
  # local Port which the container binds to on the host, is needed for the nginx vhost
  localPort:  "9091"

# settings for dockerized owncloud_mysql
owncloud_mysql:
  # the container will have this display name on docker ps
  contName:   "owncloud_mysql"
  # the image name that will be pulled
  imgName:    "mysql"
  # the params needed to start in correctly adjust if needed
  MYSQL_ROOT_PASSWORD: "superSecretRootMYSQLPasswordCHANGEME!"
   # the place where your data will live
  hostData:   "owncloud_mysql_data"
